body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yellow {
  color: yellow;
}

.blue{
  color: blue;
}

.white{
  color: white;
}

.content{
  font-size: 20px;
}

.content-box{
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
  padding: 20px;
}

.content-box p{
  line-height: 40px;
}

.content-demo{
  padding: 20px;
  margin-top: 40px;
}

input{
  width: 200px;
  height: 30px;
  border-radius: 3px;
}

button{
  font-size: 20px;
  background-color: #1890ff;
  border: 0;
  border-radius: 3px;
  height: 30px;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 0 20px;
}

.title{
  color: chocolate;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

p,span{
  padding: 0;
  margin: 0;
}

.splice{
  margin: 40px 0;
  border: 4px solid chocolate;
}

/* 向下的箭头 */
.dot-bottom {
  font-size: 0;
  line-height: 0;
  border-width: 10px;
  border-color:chocolate;
  border-bottom-width: 0;
  border-style: dashed;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 0;
  margin: 5px 0;
}

.box{
  
}